* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

#main-nav {
  background-color: darkcyan;
  font-family: sans-serif;
  padding: 0 1.5%;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo a {
  /* display: block; */
  border-radius: 10px;
  font-weight: 800;
  font-size: 2.5rem;
}

#js {
  color: #f8e026;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  margin-right: 5%;
}

.navLinkItem {
  list-style: none;
  font-size: 1.5rem;
}

.navLink {
  color: white;
  font-weight: bold;
}

/* Rock paper scissors styling */
.RPSwrapper {
  background-color: #3b1c32;
  height: 85vh;
  width: 100%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  text-align: center;
  color: white;
}

.gameHeader {
  font-size: 2.5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 50%;
}

.player {
  /* width: 105.375px; */
}

.player,
.computer {
  border-radius: 10px;
  padding: 5%;
}

.scoreboard div {
  font-size: 1.5rem;
}

.playerTitle {
  font-size: 1.2rem;
}

#playerScore,
#pcScore {
  font-size: 2rem;
}

.movesSection {
  display: flex;
  flex-direction: column;
  gap: 20%;
  height: 7%;
}

.movesHeader {
  font-size: 1.3rem;
}

.moves-remaining {
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  font-size: 1.2rem;
  color: white;
  background-color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0a4f0a;
}

.btn:active {
  background-color: #ff204e;
}

.result {
  /* display: none; */
  font-size: 1.3rem;
  font-weight: bold;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*---------------*/

/* colour flipper styling */

.colourFlipperwrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.colourFlipperContainer {
  background-color: white;
  border: 4px solid black;
  padding: 1%;
  border-radius: 10px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentColour {
  font-weight: 700;
}

.btnContainer {
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.changeColour {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: coral;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.changeColour:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.changeColour:active {
  box-shadow: none;
  transform: translateY(0);
}