* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
}

nav {
  background-color: darkcyan;
  /* height: 80px; */
  width: 100%;
}

.navContainer {
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label.logo {
  color: red;
  font-size: 2em;
  padding: 0 2%;
  font-weight: 900;
}

#js {
  color: #f8e026;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  list-style: none;
  gap: 5%;
}

nav ul li a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5%;
  border-radius: 10px;
  text-transform: uppercase;
}

a.navLinkItem,
nav ul li a:hover {
  background: #006d6f;
  transition: .5s;
}

/* homepage main wrapper */
.projectCards {
  margin: 0 auto;
  margin-top: 1%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 5% 2%;
}

.projectCard {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.projectCard:hover {
  transform: scale(1.005);
}

.CardImages {
  width: 100%;
  display: block;
}

.cardContent {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  color: #555;
  margin: 0;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #555555;
  background-color: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #ccc;
}

.cardPartition {
  margin: 0 2%;
  border-top: 1px solid #555;
}

/* Rock paper scissors styling */
.RPSwrapper {
  background-color: #3b1c32;
  height: 85vh;
  width: 100%;
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  text-align: center;
  color: white;
}

.gameHeader {
  font-size: 2.5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 50%;
}

.player,
.computer {
  border-radius: 10px;
  padding: 5%;
}

.scoreboard div {
  font-size: 1.5rem;
}

.playerTitle {
  font-size: 1.2rem;
}

#playerScore,
#pcScore {
  font-size: 2rem;
}

.movesSection {
  display: flex;
  flex-direction: column;
  gap: 20%;
  height: 7%;
}

.movesHeader {
  font-size: 1.3rem;
}

.moves-remaining {
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  font-size: 1.2rem;
  color: white;
  background-color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0a4f0a;
}

.btn:active {
  background-color: #ff204e;
}

.result {
  /* display: none; */
  font-size: 1.3rem;
  font-weight: bold;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* colour flipper styling */
.colourFlipperwrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.colourFlipperContainer {
  background-color: darkgray;
  border: 1px solid black;
  padding: 1%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentColour {
  font-weight: 900;
}

#flipperTitle {
  font-weight: 900;
  font-size: 20px;
  text-wrap: wrap;
}

.btnContainer {
  width: 40%;
  display: flex;
  gap: 56%;
  justify-content: center;
  align-items: center;
}

.changeColour {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 2px solid #1A1A1A;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 800;
  padding: 16px 24px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: 150px;
}

.changeColour:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.changeColour:active {
  box-shadow: none;
  transform: translateY(0);
}

/* bmi styling */
:root {
  --underweight: orange;
  --normal: green;
  --overweight: lightcoral;
  --obese: crimson;
}

.bmiWrapper {
  background-color: #002d62;
  display: grid;
  place-items: center;
  height: 80vh;
}

.bmiBody {
  width: 90%;
  max-width: 420px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  display: grid;
  gap: 1rem;
}

#bmiHeader {
  text-align: center;
}

.calculator {
  display: grid;
  gap: 1rem;
  place-items: center;
}

.calculator label {
  font-weight: 600;
}

.bmiSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27%;
  width: 100%;
  font-size: 1.5em;
}

.bmiRanges {
  width: 100%;
}

#bmiCalculator {
  background-color: #325681;
  max-width: 150px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

#bmiCalculator:hover {
  filter: brightness(120%);
}

.output {
  text-align: center;
}

.output #bmiDisplay {
  font-size: 4rem;
}

#health {
  text-transform: uppercase;
}

.bmiScale {
  display: flex;
}

.bmiScale div {
  text-align: center;
  flex: 1;
  text-transform: uppercase;
  border-top: 5px solid var(--color);
  padding: 10px;
}

.bmiScale h4 {
  font-size: .75rem;
  color: slategray;
}

#clockWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#day,
#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1%;
  max-width: 420px;
  max-height: 150px;
  border-radius: 15px;
  font-size: 50px;
}

/* Table styling */
#tableWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  gap: 5%;
}

table {
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#searchBar {
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#searchBar::placeholder {
  text-align: center;
  font-weight: bolder;
}

/* memoize promises */
.promiseWrapper {
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 3%;
  margin: 10px 5px;
}

.topContainer,
.callCart {
  width: 100%;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px #888888;
  border-radius: 10px;
  padding: 10px;
}

.memoTextHeaders {
  font-weight: bold;
  font-size: 20px;
}

#idCount {
  font-weight: bold;
}

#memoBtnsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.memoBtns {
  width: 10%;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.memoBtns:hover {
  background-color: gray;
}

#fetchedItemList {
  margin-left: 20px;
}

#keyLogger {
  background-color: burlywood;
}